@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Aplicação para ordem de serviços de exames laboratoriais.</p>
    <p>Clique no item "Ordem de Serviços" para iniciar</p>
    <img src="~/images/undraw_medical_research_qg4d.png" height="500" />

</div>
